<div class="user">
    
    <div class="input-group">
        <div class="input-group-addon">姓名</div>
        <input type="text" class="form-control" value="">
    </div>
    <div class="input-group">
        <div class="input-group-addon">性别</div>
        <input type="text" class="form-control" value="">
    </div>
    <div class="input-group">
        <div class="input-group-addon">出生日期</div>
        <input type="text" class="form-control" value="">
    </div>
    <div class="input-group">
        <div class="input-group-addon">是否是特殊工种</div>
        <label class="radio-inline">
            <input type="radio" name="gongzhong"  value="1"> 是
        </label>
        <label class="radio-inline">
            <input type="radio" name="gongzhong"  value="2"> 否
        </label>
    </div>
    <div class="input-group">
        <div class="input-group-addon">是否是女管理干部</div>
        <label class="radio-inline">
            <input type="radio" name="ganbu" id="inlineRadio1" value="1"> 是
        </label>
        <label class="radio-inline">
            <input type="radio" name="ganbu" id="inlineRadio2" value="2"> 否
        </label>
    </div>
    
</div>